/*-- global styles for Wireframe --*/
.siteLogo{ }
.siteLogo a{ background:"site.logo" center center no-repeat;  top:0;  left:0;  position:absolute;  height:38px;  width:120px }
.siteLogo img{ position:absolute;  z-index:-1 }

html, body, h1, h2, h3, h4, h5, h6, form, p, li, div, dd, dt, dl, img, hr, fieldset { font:"default (Grey font)"; color:"text (Grey color)"; margin:0;  padding:0 }
 
a{ color:"link (Grey color)" }
a:hover{ text-decoration:underline }
a:visited{ color:"link.visited (Grey color)" }
 

/* STRUCTURING BORDERS*/
.headerSection { border-bottom:"header (Grey border)" }
.footerSection { border-top:"footer (Grey border)"}

/*-- GENERAL ELEMENTS --*/ 
/*-- Buttons --*/
input.button{ border:"buttons (Grey border)";  background-color:"buttons (Grey background)"; }
input.button:hover{ border:"button.hover (Grey border)" }
input.button[disabled=disabled], input.button[disabled=disabled]:hover{ cursor:default }

/* Header style */
.headerSection{ background-color:"header (Grey background)"}
.userActions, .searchService{ color:"header (Grey color)";  font:"default (Grey font)"; }
.userActions a, .userActions a:hover, .userActions a:visited { color:"header.link (Grey color)" }
.searchService a, .searchService a:hover, .searchService a:visited { color:"header.link (Grey color)" }

/* Dashboard Layout Manager Styles*/
#getLayoutManager, #getGadgetManager, #closeLayoutManager, #closeGadgetManager  { background-color: "managers (Grey background)"; border-bottom: "managers (Grey border)"}
#getLayoutManager a, #getGadgetManager a{background:"folded (Grey background)"}
#closeLayoutManager a, #closeGadgetManager a{background:"unfolded (Grey background)"}

#layoutManagerContainer, #gadgetManagerContainer {background-color:"managers.container (Grey background)";border-bottom:"managers (Grey border)"}
div.button-container .nv-layout, .nv-category {color:"text (Grey color)";border: "button (Grey border)"}
#listColumns div button.selected{border:"button.hover (Grey border)"}
.listBoxes div.selected,#listColumns div.selected{background-color:"list.columns (Grey background)"}

#listLayouts{background-color:"list.columns (Grey background)"}
#tabLayout li a.selected{border:"type.gadget.link (Grey border)"}

.typeLayout, .typeGadget {background-color:"type.gadget (Grey background)";border:"type.gadget (Grey border)"}
#generalOptions{background-color:"list.columns (Grey background)"}

#listGadgets{background-color:"list.columns (Grey background)"}
#listCategories div button.selected{border:"button.hover (Grey border)"}
#listCategories div.selected{background-color:"list.columns (Grey background)"}

#tabGadgets li a.selected{border:"type.gadget.link (Grey border)"}
.directAdd a{background:"buttons (Grey border)";border:"button (Grey border)";color:"text (Grey color)"}


/* Messages */
.error{ color:"red (Grey color)"; font:"big.default (Grey font)"}
.infoMessage{ background:"info (Grey background)";  border:"info.message (Grey border)";  color:"message (Grey color)" }
.infoFeedback{ background:"info (Grey background)";  border:"info.message (Grey border)";  color:"message (Grey color)" }
.warningMessage{ background:"warning (Grey background)";  border:"warning.message (Grey border)";  color:"warning (Grey color)" }
.warningFeedback{ background:"warning (Grey background)";  border:"warning.message (Grey border)";  color:"warning (Grey color)" }
.errorMessage{ background:"warning (Grey background)";  border:"error.message (Grey border)";  color:"error (Grey color)" }
.errorFeedback{ background:"warning (Grey background)";  border:"error.message (Grey border)";  color:"error (Grey color)" }

/* Footer style */
.footerArea{ text-align:right;  color:"footer (Grey color)";  padding:5px 15px 5px 5px;  font:"small (Grey font)" }
